$line-color: var(--primary-color);

.timeline-start {
    width: 25%;
    height: 75px;
    margin-left: 25%;
    border-right: 15px solid $line-color;
    border-bottom: 15px solid $line-color;
    border-bottom-right-radius: 50px;
}

.timeline-end {
    clear: both;
}

.timeline-event {
    padding-left: 25px;
    padding-right: 25px;
    border-color: $line-color;
    border-style: solid;
    border-width: 0;
    clear: both;
}

.timeline-event:nth-child(even) {
    border-left-width: 15px;
}

.timeline-event:nth-child(odd) {
    border-right-width: 15px;
    text-align: right;
}

.timeline-event-start {
    border-width: 0;
    border-style: solid;
    border-color: $line-color;
    margin-top: -15px;
    height: 50px;
}

.timeline-event-start:first-child {
    border-top-width: 15px;
    border-left-width: 15px;
    border-top-left-radius: 50px;
    width: 25%;
}

.timeline-event-start:nth-child(2n+3) {
    border-top-width: 15px;
    border-left-width: 15px;
    border-top-left-radius: 50px;
    width: 50%;
    float: left;
}

.timeline-event-start:nth-child(even) {
    border-top-width: 15px;
    border-right-width: 15px;
    border-top-right-radius: 50px;
    width: 50%;
    float: right;
}

.timeline-event-end {
    border-width: 0;
    border-style: solid;
    border-color: $line-color;
    height: 50px;
}

.timeline-event-end:nth-child(odd) {
    border-left-width: 15px;
    border-bottom-width: 15px;
    border-bottom-left-radius: 50px;
    width: 50%;
}

.timeline-event-end:nth-child(even) {
    border-right-width: 15px;
    border-bottom-width: 15px;
    border-bottom-right-radius: 50px;
    width: 50%;
    float: right;
}

.timeline-image {
    height: 50px;
    width: 50px;
    background-color: magenta;
    position: relative;
    border-radius: 30px;
    border: 5px solid $line-color;
    background-color: white;
}

.timeline-event:nth-child(even) .timeline-image {
    float: left;
    // left: -62px;
}

.timeline-event:nth-child(odd) .timeline-image {
    float: right;
    left: 62px;
}