{% set data = load_data(path="timelines.yaml", format="yaml") %}
{% set events = data[timeline] %}
<div>
    <div class="timeline-start"></div>
    <div class="timeline-events">
        {% for event in events %}
        <div class="timeline-event-start"></div>
        <div class="timeline-event">
            <div class="timline-date">{{ event.date }}</div>
            <div class="timeline-name">{{ event.name }}</div>
            <div class="timeline-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
        </div>
        <div class="timeline-event-end"></div>
        {% endfor %}
    </div>
    <div class="timeline-end"></div>
</div>